body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #007bff;
  color: white;
  padding: 15px 0;
  font-size: 20px;
}

.brand {
  font-weight: bold;
}

.intro {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

#keliling-container {
  display: none;
}

.toggle-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 30%;
  background-color: lightgray;
  color: white;
}

.toggle-btn.active {
  background-color: #007bff;
}

.button-container {
  padding-bottom: 20px;
}

.container {
  width: 40%;
  min-width: 300px;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  background: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 10px auto;
}

.text-left {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 30%;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.hitung {
  background: #28a745;
  color: white;
  margin: 0 auto;
  display: block;
}

.reset {
  background: #dc3545;
  color: white;
  margin-left: auto;
}

.btn.hitung {
  flex-grow: 1;
  text-align: center;
}

.btn.reset {
  margin-left: auto;
  flex-grow: 1;
}

#hasil-luas,
#hasil-keliling {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hidden {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  input,
  .btn {
    width: 100%;
  }
}
